@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Montaga&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* contact.html Specific Styles */
/* Reset some default styles */
h2, p {
    margin: 0;
    padding: 0;
}

/* Body styles */
body {
    font-family: "Product sans", sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    background-image: url('pond-22118_1920.jpg');
}

/* Container styles */
.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 20px;
    position: relative;
    overflow: hidden;
}

.container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    z-index: -1;
}

/* Header styles */
h2 {
    color: green; /* Green color */
    margin-bottom: 20px;
}

/* Link styles */
a {
    color: green; /* Green color */
    text-decoration: none;
}

a:hover {
    text-decoration: underline; /* Underline on hover */
}

/* Footer styles */
footer {
    margin-top: 20px;
    font-size: 0.8em;
    text-align: center;
    color: #777; /* Light gray color */
}

/* Responsive styles */
@media (max-width: 600px) {
    .container {
        padding: 15px;
    }
}