@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Montaga&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Product sans", sans-serif;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('bgimg1.jpg');
    background-size: cover;
  }  

  .container {
    display: flex;
    gap: 100px;
  }
  
  .left-section {
    max-width: 300px;
    padding-top: 100px;
  }
  
  .left-section h1 {
    font-size: 2.5em;
    color: #333;
  }
  
  .left-section .leaf {
    font-size: 1.5em;
    color: #5a995a;
  }
  
  .left-section p {
    font-size: 1.2em;
    color: #333;
    margin-top: 10px;
  }
  
  .left-section .highlight {
    /* background-color: #5a995a; */
    background-color: green;
    color: white;
    padding: 3px 8px;
    border-radius: 5px;
  }
  

  .right-section {
    padding: 30px;
    border-radius: 15px;
    width: 300px;
    text-align: center;
    backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  
  .right-section h2 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
  }
  
  .right-section form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #d4f8d4;
  }
  
  .right-section form button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    /* background-color: #5a995a; */
    background-color: green;
    color: white;
    font-size: 1em;
    cursor: pointer;
  }
  
  .right-section .links {
    margin-top: 15px;
    font-size: 0.9em;
  }
  
  .right-section .links a {
    color: #333;
    text-decoration: none;
  }
  
  .right-section .links a span {
    color: darkgreen;
    font-weight: bold;
  }